model:
  base_learning_rate: 4.5e-6
  target: ldm.models.autoencoder.AutoencoderKL
  params:
    monitor: "val/rec_loss"
    embed_dim: 3
    lossconfig:
      target: ldm.modules.losses.LPIPSWithDiscriminator
      params:
        disc_start: 5001
        kl_weight: 0.000001
        disc_weight: 0.5

    ddconfig:
      double_z: True
      z_channels: 4
      resolution: 256
      in_channels: 3
      out_ch: 3
      ch: 128
      ch_mult: [ 1,2,4, 4]  # num_down = len(ch_mult)-1
      num_res_blocks: 2
      attn_resolutions: [ ]
      dropout: 0.0


data:
  target: main.DataModuleFromConfig
  params:
    batch_size: 8
    train_path: /dss/dssmcmlfs01/pr74ze/pr74ze-dss-0001/ru84kap/machex/chestx-ray_train.beton
    val_path: /dss/dssmcmlfs01/pr74ze/pr74ze-dss-0001/ru84kap/machex/chestx-ray_test.beton
    #train_path: /data/core-rad/chestx-ray/chestx-ray_dummy.beton
    #val_path: /data/core-rad/chestx-ray/chestx-ray_dummy.beton
    num_workers: 16

lightning:
  callbacks:
    image_logger:
      target: main.ImageLogger
      params:
        batch_frequency: 2000
        max_images: 8
        increase_log_steps: True

  trainer:
    gpus: 8
    benchmark: False
    precision: 32
    accumulate_grad_batches: 2
